body {background-image:url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTFyoaiMMb6THCJC535MpF_C58s2W3Fwrr6y3oYYTcHr1plhHNI");}
#header {
  background-color:black; 
	width:100%;
	min-height:100px; }
	#leftcolumn{
	background-color:black; 
	width:33%; 
	min-height:400px;
	float:left 
	}
#maincontent { 
background-color:black;
 width:67%;
 min-height:400px; 
 float:left
}
#footer {
background-color:black; 
width:100%; 
min-height:100px;
clear:both; }
